<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./css/main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Cart-Kitchen</title>
</head>

<body>
    <nav class="navbar navbar-default --primary">
        <div class="containers">
            <div class="navbar--brand brand">
                <a href="#" class="brand__logo">
                    <img src="sweet.png" alt="Render logo">
                </a>
            </div>
            <div class="confirmation">
                <p>Loged in as:</p>

            </div>
        </div>
    </nav>
    <br>
    <br>
    <br>
    <div class="row">
        <div class="col-sm-3 one">
            <h3>Your Recipes</h3>
            <hr>
            <div class="divcap">
                <div class="pargraph">
                    <h4>
                        <p>Building recipes could never be easier. Use the search bar to find the key ingredient, add it to
                            your recipe list until complete. Save and now you can re-use that recipe for your weekly schedule!
                            </p>
                    </h4>
                </div>
                <div class="links">
                    <div>
                        <a href="recipe.html">
                            <button class="btn-primary"> Build a Recipe</button>
                        </a>
                    </div>
                    <div>
                        <a href="recipe.html">
                            <button class="btn-primary">Share your Recipe</button>
                        </a>
                    </div>
                    <div>
                        <a href="recipe.html">
                            <button class="btn-primary"> Check out more Recipes</button>
                        </a>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-sm-3 one">
            <h3>Your shopping list</h3>
            <hr>
            <div class="pargraph">
                <h4>
                    <p>Your shopping list is pretty simple, you can add any ingredients you want, or build a recipe schedule
                        and auto sink it with your shopping list once the sink is taken place you can have your next shopping
                        list at your finger tips!
                    </p>
                </h4>
            </div>
            <div class="links">
                <div>
                    <a href="shoppinglist.html">
                        <button class="btn-primary">Build your shopping cart</button>
                    </a>
                </div>
                <div>
                    <a href="shoppinglist.html">
                        <button class="btn-primary"> Look at previous shopping carts</button>
                    </a>
                </div>
                <div>
                    <a href="shoppinglist.html">
                        <button class="btn-primary">Do something Else</button>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-sm-3 one">
            <h3>News</h3>
            <hr>
            <div>
                <h4>
                    <p>pargraph</p>
                </h4>
            </div>
            <div class="links">
                <div>
                    <a href="news.html">
                        <button class="btn-primary"> news</button>
                    </a>
                </div>
                <div>
                    <a href="news.html">
                        <button class="btn-primary">news</button>
                    </a>
                </div>
                <div>
                    <a href="news.html">
                        <button class="btn-primary">news</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>